@media(min-width: 1px) and (max-width: 425px) {

    a {
        color: green;
    }

    #logoelectrot {
        width: 0;
    }

    body {
        width: 100%;
        background: url(../img/login.png) no-repeat center fixed;
        background-size: cover;
    }

    #global {
        width: 80%;
        margin: auto;
        padding: 25px;
    }

    #contenu {
        width: 100%;
    }

    .login-form {
        width: 100%;
        margin: auto;
    }

    .login-form form {
        width: 100%;
        background: #FFFFFF;
        opacity: 90%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10%;
        border-radius: 10px;
        margin: 30% auto;
    }

    .login-form h1 {
        text-align: center;
        font-family: fantasy;
        color: green;
        margin-bottom: 13%;
    }

    .login-form h4 {
        text-align: center;
        color: green;
    }

    .pasdecompte {
        font-size: 90%;
        color: green;
        text-align: center;
        margin-bottom: 10%;
    }

    .btn {
        width: 100%;
        margin-bottom: 5%;
    }

    .errorrr {
        font-size: 76%;
        margin: 5% auto;
        color: red;
        text-align: center;
        font-weight: bolder;
    }

    input::placeholder {
        text-align: center;
    }

    input {
        text-align: center;
    }
}

@media(min-width: 426px) and (max-width: 767px) {

    body {
        width: 100%;
        background: url(../img/login.png) no-repeat center fixed;
        background-size: cover;
    }

    #global {
        width: 80%;
        margin: auto;
        padding: 25px;
    }

    #contenu {
        width: 100%;
    }

    .login-form {
        width: 75%;
        margin: auto;
    }

    .login-form form {
        width: 100%;
        background: #FFFFFF;
        opacity: 90%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10%;
        border-radius: 10px;
        margin: 50% auto;
    }

    .login-form h1 {
        text-align: center;
        font-family: fantasy;
        color: #17A2B8;
        margin-bottom: 13%;
    }

    .login-form h4 {
        text-align: center;
        color: #17A2B8;
    }

    .pasdecompte {
        font-size: 90%;
        color: #777C82;
        text-align: center;
        margin-bottom: 10%;
    }

    .btn {
        width: 100%;
        margin-bottom: 5%;
    }

    .errorrr {
        font-size: 76%;
        margin: 5% auto;
        color: red;
        text-align: center;
        font-weight: bolder;
    }

    input::placeholder {
        text-align: center;
    }

    input {
        text-align: center;
    }
}

@media(min-width: 768px) and (max-width: 1388px) {

    #logoelectrot {
        width: 50%;
    }

    body {
        width: 100%;
        background: url(../img/login.png) no-repeat center fixed;
        background-size: cover;
    }

    #global {
        width: 80%;
        margin: auto;
        padding: 25px;
    }

    #contenu {
        width: 100%;
    }

    .login-form {
        width: 65%;
        margin: 40% auto;
    }

    .login-form form {
        width: 100%;
        background: #FFFFFF;
        opacity: 90%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10%;
        border-radius: 10px;
        margin: 30% auto;
    }

    .login-form h1 {
        text-align: center;
        font-family: fantasy;
        color: #17A2B8;
        margin-bottom: 13%;
    }

    .login-form h4 {
        text-align: center;
        color: #17A2B8;
    }

    .pasdecompte {
        font-size: 90%;
        color: #777C82;
        text-align: center;
        margin-bottom: 10%;
    }

    .btn {
        width: 100%;
        margin-bottom: 5%;
    }

    .errorrr {
        font-size: 76%;
        margin: 5% auto;
        color: red;
        text-align: center;
        font-weight: bolder;
    }

    input::placeholder {
        text-align: center;
    }

    input {
        text-align: center;
    }
}

@media(min-width: 1388px) {

    body {
        width: 100%;
        background: url(../img/login.png) no-repeat center fixed;
        background-size: cover;
    }

    #global {
        width: 80%;
        margin: auto;
        padding: 2%;
    }

    #contenu {
        width: 100%;
    }

    .login-form {
        width: 25%;
        margin: auto;
    }

    .login-form form {
        width: 100%;
        background: #4d5152;
        opacity: 90%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10%;
        border-radius: 10px;
        margin: 30% auto;
    }

    .login-form h1 {
        float: left;
        font-family: IBM Plex Sérif;
        color: #249340;
        margin-bottom: 12%;
        font-weight: bolder;
    }

    .login-form h4 {
        text-align: center;
        color: #249340;
    }

    .pasdecompte {
        font-size: 90%;
        color: #979fa8;
        text-align: center;
        margin-bottom: 10%;
    }

    .btn {
        width: 100%;
        margin-bottom: 5%;
    }

    .errorrr {
        font-size: 76%;
        margin: 5% auto;
        color: red;
        text-align: center;
        font-weight: bolder;
    }

    input::placeholder {
        text-align: center;
    }

    input {
        text-align: center;
    }

    .login-form img {
        height: 65%;
        width: 120%;
        margin-left: 35%;
    }

    .login-form a {
        text-decoration: none;
        color: #249340;
    }

    .login-form a:hover {
        color: #249340;
    }
}